In [40]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [41]:
import numpy as np
import pandas as pd

In [52]:
file_to_load = "beers_df.csv"
beer_data = pd.read_csv(file_to_load)
beer_data.head(20)

,Unnamed: 0,brewery_id,brewery_name,city,state,abv,beer_name,style,ounces,latitude,longitude,rating
0,0,0,NorthGate Brewing,Minneapolis,MN,0.045,Get Together,American IPA,16.0,44.998332,-93.221174,4.2
1,1,0,NorthGate Brewing,Minneapolis,MN,0.049,Maggie's Leap,Milk / Sweet Stout,16.0,44.998332,-93.221174,4.2
2,2,0,NorthGate Brewing,Minneapolis,MN,0.048,Wall's End,English Brown Ale,16.0,44.998332,-93.221174,4.2
3,3,0,NorthGate Brewing,Minneapolis,MN,0.060,Pumpion,Pumpkin Ale,16.0,44.998332,-93.221174,4.2
4,4,0,NorthGate Brewing,Minneapolis,MN,0.060,Stronghold,American Porter,16.0,44.998332,-93.221174,4.2
5,5,0,NorthGate Brewing,Minneapolis,MN,0.056,Parapet ESB,Extra Special / Strong Bitter (ESB),16.0,44.998332,-93.221174,4.2
6,6,1,Against the Grain Brewery,Louisville,KY,0.080,Citra Ass Down,American Double / Imperial IPA,16.0,38.255490,-85.744022,4.4
7,7,1,Against the Grain Brewery,Louisville,KY,0.125,London Balling,English Barleywine,16.0,38.255490,-85.744022,4.4
8,8,1,Against the Grain Brewery,Louisville,KY,0.077,35 K,Milk / Sweet Stout,16.0,38.255490,-85.744022,4.4
9,9,1,Against the Grain Brewery,Louisville,KY,0.042,A Beer,American Pale Ale (APA),16.0,38.255490,-85.744022,4.4
10,10,1,Against the Grain Brewery,Louisville,KY,0.050,Rules are Rules,German Pilsener,16.0,38.255490,-85.744022,4.4
11,11,1,Against the Grain Brewery,Louisville,KY,0.066,Flesh Gourd'n,Pumpkin Ale,16.0,38.255490,-85.744022,4.4
12,12,1,Against the Grain Brewery,Louisville,KY,0.040,Sho'nuff,Belgian Pale Ale,16.0,38.255490,-85.744022,4.4
13,13,1,Against the Grain Brewery,Louisville,KY,0.055,Bloody Show,American Pilsner,16.0,38.255490,-85.744022,4.4
14,14,1,Against the Grain Brewery,Louisville,KY,0.076,Rico Sauvin,American Double / Imperial IPA,16.0,38.255490,-85.744022,4.4
15,15,1,Against the Grain Brewery,Louisville,KY,0.051,Coq de la Marche,Saison / Farmhouse Ale,16.0,38.255490,-85.744022,4.4
16,16,1,Against the Grain Brewery,Louisville,KY,0.065,Kamen Knuddeln,American Wild Ale,16.0,38.255490,-85.744022,4.4
17,17,1,Against the Grain Brewery,Louisville,KY,0.060,Pile of Face,American IPA,16.0,38.255490,-85.744022,4.4
18,18,1,Against the Grain Brewery,Louisville,KY,0.050,The Brown Note,English Brown Ale,16.0,38.255490,-85.744022,4.4
19,19,2,Jack's Abby Craft Lagers,Framingham,MA,0.052,House Lager,Keller Bier / Zwickel Bier,16.0,42.280184,-71.411168,4.6

In [71]:
beers_df = beer_data[["brewery_name","style"]]
beers_df.head()

         brewery_name               style
0  NorthGate Brewing         American IPA
1  NorthGate Brewing   Milk / Sweet Stout
2  NorthGate Brewing    English Brown Ale
3  NorthGate Brewing          Pumpkin Ale
4  NorthGate Brewing      American Porter

In [78]:
 beer=beers_df.groupby(['brewery_name']).count()
# beers= beer.sort_values(['style'], ascending=False)
beer.head()

                           style
brewery_name
10 Barrel Brewing Company      1
18th Street Brewery           14
2 Towns Ciderhouse             4
21st Amendment Brewery        20
3 Daughters Brewing            3

In [79]:
beer_df = beers.iloc[0:30]
beer_df.head()

                            style
brewery_name
Brewery Vivant                 62
Oskar Blues Brewery            44
Sun King Brewing Company       38
Cigar City Brewing Company     25
Sixpoint Craft Ales            24

In [77]:
data_df = beer_data[['brewery_name','rating']]
data_df= data_df.drop_duplicates()
data_df.head()

                 brewery_name  rating
0          NorthGate Brewing      4.2
6   Against the Grain Brewery     4.4
19   Jack's Abby Craft Lagers     4.6
24  Mike Hess Brewing Company     4.6
30    Fort Point Beer Company     3.7

In [84]:
df= pd.merge(beer,data_df, on='brewery_name', how='outer')
df.head

<bound method NDFrame.head of                             brewery_name  style  rating
0              10 Barrel Brewing Company      1     4.5
1                    18th Street Brewery     14     4.5
2                     2 Towns Ciderhouse      4     4.8
3                 21st Amendment Brewery     20     4.3
4                    3 Daughters Brewing      3     4.7
5                4 Hands Brewing Company      8     4.6
6              450 North Brewing Company      7     4.4
7                 7 Seas Brewing Company      4     4.6
8                             7venth Sun      1     4.7
9              AC Golden Brewing Company      2     NaN
10                 Abita Brewing Company      3     4.6
11             Against The Grain Brewery      2     4.4
12             Against the Grain Brewery     13     4.4
13               Airways Brewing Company      3     NaN
14                       Alameda Brewing      3     4.7
15               Alaskan Brewing Company      2     4.8
16                            Ale Asylum      1     4.3
17   Alltech's Lexington Brewing Company      2     4.5
18               Amnesia Brewing Company      3     4.0
19                Anchor Brewing Company      5     4.5
20       Anderson Valley Brewing Company     18     4.7
21                          Angry Minnow      1     4.3
22          Angry Minnow Brewing Company      2     4.3
23           Angry Orchard Cider Company      3     4.5
24                Anthem Brewing Company      3     4.7
25          Appalachian Mountain Brewery      3     4.7
26               Arcadia Brewing Company      2     4.3
27                  Arctic Craft Brewery      1     4.8
28                   Armadillo Ale Works      2     4.8
29             Armstrong Brewing Company      1     4.5
..                                   ...    ...     ...
521              Upstate Brewing Company      2     4.7
522             Utah Brewers Cooperative      8     0.0
523                   Vander Mill Ciders      5     4.6
524                Vault Brewing Company      1     4.6
525                       Voodoo Brewery      6     4.5
526            Wachusett Brewing Company     11     4.6
527              Warbird Brewing Company      1     0.0
528          Warped Wing Brewing Company      4     4.7
529                   West Sixth Brewing      4     4.7
530            Westbrook Brewing Company      4     4.5
531      Westfield River Brewing Company      3     4.5
532               Weston Brewing Company      7     4.7
533                  White Birch Brewing      4     4.7
534          White Flame Brewing Company      1     4.5
535      Widmer Brothers Brewing Company      3     4.1
536           Wild Onion Brewing Company     10     4.4
537            Wild Wolf Brewing Company      4     3.9
538             Wildwood Brewing Company      3     4.5
539           Wind River Brewing Company      2     4.2
540                      Wingman Brewers      2     4.7
541            Wisconsin Brewing Company      4     4.7
542             Wiseacre Brewing Company      3     4.6
543          Witch's Hat Brewing Company      2     4.7
544           Wolf Hills Brewing Company      1     4.5
545      Wolverine State Brewing Company      1     4.6
546                 Woodchuck Hard Cider      1     4.8
547     Woodstock Inn, Station & Brewery      2     4.4
548                     Wormtown Brewery      1     4.6
549               Worthy Brewing Company      5     4.0
550              Wynkoop Brewing Company      9     4.2

[551 rows x 3 columns]>

In [86]:
df=df.sort_values(['style','rating'], ascending=False)
df

                            brewery_name  style  rating
94                        Brewery Vivant     62     4.7
367                  Oskar Blues Brewery     44     4.6
466             Sun King Brewing Company     38     4.6
133           Cigar City Brewing Company     25     4.5
437                  Sixpoint Craft Ales     24     4.5
255               Hopworks Urban Brewery     23     4.4
459                Stevens Point Brewery     22     4.7
225               Great Crescent Brewery     20     4.7
3                 21st Amendment Brewery     20     4.3
81               Bonfire Brewing Company     19     4.8
419               SanTan Brewing Company     19     4.5
20       Anderson Valley Brewing Company     18     4.7
520              Upslope Brewing Company     18     4.7
229                  Great River Brewery     18     4.6
473            Tallgrass Brewing Company     18     4.5
343          New Belgium Brewing Company     17     4.7
445              Sockeye Brewing Company     17     4.5
411           Rivertowne Brewing Company     15     4.6
215                  Golden Road Brewing     15     4.5
450        Southern Star Brewing Company     14     4.8
1                    18th Street Brewery     14     4.5
71            Blue Blood Brewing Company     14     4.4
109              Caldera Brewing Company     14     4.4
310                 Matt Brewing Company     13     4.6
442              Sly Fox Brewing Company     13     4.6
468                Surly Brewing Company     13     4.6
323                 Minhas Craft Brewery     13     4.5
12             Against the Grain Brewery     13     4.4
453             Spiteful Brewing Company     12     4.7
61               Big Sky Brewing Company     12     4.6
..                                   ...    ...     ...
250                   Hinterland Brewery      1     4.2
281  Krebs Brewing Company (Pete's Pl...      1     4.2
427                    Seabright Brewery      1     4.2
492            The Traveler Beer Company      1     4.2
506           Twin Lakes Brewing Company      1     4.2
514                Ukiah Brewing Company      1     4.2
220         Goose Island Brewery Company      1     4.1
316                Mickey Finn's Brewery      1     4.1
447            Southampton Publick House      1     4.1
455         Spring House Brewing Company      1     4.1
175             Elevator Brewing Company      1     4.0
176            Emerald City Beer Company      1     4.0
222                   Gore Range Brewery      1     4.0
488                     The Lion Brewery      1     4.0
192            Flat Rock Brewing Company      1     3.9
426              Sea Dog Brewing Company      1     3.9
412            Roanoke Railhouse Brewery      1     3.3
204        Four Horsemen Brewing Company      1     3.0
470         Swashbuckler Brewing Company      1     3.0
527              Warbird Brewing Company      1     0.0
131                Churchkey Can Company      1     NaN
173               Dundee Brewing Company      1     NaN
199            Fort Pitt Brewing Company      1     NaN
214             Glabrous Brewing Company      1     NaN
216             Gonzo's BiggDogg Brewing      1     NaN
327                 Modern Monks Brewery      1     NaN
329             Mogollon Brewing Company      1     NaN
333            Mother Earth Brew Company      1     NaN
399               Red Tank Cider Company      1     NaN
462          Stone Coast Brewing Company      1     NaN

[551 rows x 3 columns]

In [87]:
data= df.iloc[0:30]
data

                        brewery_name  style  rating
94                    Brewery Vivant     62     4.7
367              Oskar Blues Brewery     44     4.6
466         Sun King Brewing Company     38     4.6
133       Cigar City Brewing Company     25     4.5
437              Sixpoint Craft Ales     24     4.5
255           Hopworks Urban Brewery     23     4.4
459            Stevens Point Brewery     22     4.7
225           Great Crescent Brewery     20     4.7
3             21st Amendment Brewery     20     4.3
81           Bonfire Brewing Company     19     4.8
419           SanTan Brewing Company     19     4.5
20   Anderson Valley Brewing Company     18     4.7
520          Upslope Brewing Company     18     4.7
229              Great River Brewery     18     4.6
473        Tallgrass Brewing Company     18     4.5
343      New Belgium Brewing Company     17     4.7
445          Sockeye Brewing Company     17     4.5
411       Rivertowne Brewing Company     15     4.6
215              Golden Road Brewing     15     4.5
450    Southern Star Brewing Company     14     4.8
1                18th Street Brewery     14     4.5
71        Blue Blood Brewing Company     14     4.4
109          Caldera Brewing Company     14     4.4
310             Matt Brewing Company     13     4.6
442          Sly Fox Brewing Company     13     4.6
468            Surly Brewing Company     13     4.6
323             Minhas Craft Brewery     13     4.5
12         Against the Grain Brewery     13     4.4
453         Spiteful Brewing Company     12     4.7
61           Big Sky Brewing Company     12     4.6

In [89]:
data.to_csv('clouddata.csv', index=False)